## The Freeman Model

The Freeman model classifies gentrification as occurring an area where the median household income and share of housing built in the prior 20 years are both less than the metro-area values. For an area to be gentrified, the share of residents with degree equivalent qualifications also has to be greater than the metro value, and there needs to be an increase in house prices.

Datasets required:
* Median household income (approximate using yearly median earnings - assume proportionality)
* New builds
* Degree equivalent qualifications
* Average house price

In [2]:
import numpy as np
import pandas as pd
import scipy as sp

print("success!")

success!

In [20]:
income_df = pd.read_excel("datasets/yearly_median_earnings.xlsx", index_col='Area')
new_builds_df = pd.read_excel("datasets/new_builds.xlsx", index_col='Area')
degrees_df = pd.read_excel("datasets/degree_equivalent_qualifs.xlsx", index_col='Area')
house_price_df = pd.read_excel("datasets/average_house_price.xlsx", index_col='Area')

In [7]:
new_builds_df.head()

,New build,Net conversions,Net change of use,Demolitions,Net additions
Area,,,,,
Barking and Dagenham,485,6,15,0,506
Barnet,1301,87,30,44,1374
Bexley,399,9,19,9,418
Brent,993,10,22,363,662
Bromley,657,35,42,42,692

In [21]:
london_dict = {"income": income_df.loc['London'],
               "new_builds": new_builds_df.loc['London'],
               "degrees": degrees_df.loc['London'],
               "house_price": house_price_df.loc['London']}

In [22]:
london_dict["degrees"]

2004    35.590364
2005    37.269355
2006    38.704559
2007    40.985163
2008    41.768369
2009    43.335419
2010    45.342393
2011    49.728521
2012    52.000000
2013    53.000000
2014    53.800000
2015    54.500000
2016    56.700000
2017    56.300000
2018    57.600000
2019    59.100000
Name: London, dtype: float64

In [23]:
degrees_df.head()

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Area,,,,,,,,,,,,,,,,
Barking and Dagenham,15.980630,16.726835,16.752577,19.660194,23.488372,25.769669,28.952991,31.034483,30.1,31.9,33.5,35.7,37.9,35.5,36.2,37.0
Barnet,42.377869,44.332344,41.437756,43.614055,45.288099,46.292482,52.681891,55.896351,54.6,56.5,50.9,57.5,62.7,62.4,57.1,57.3
Bexley,16.875000,20.860018,24.555160,25.044883,25.359256,31.097561,29.880137,29.247675,31.6,32.8,37.1,36.4,41.3,39.2,44.5,39.1
Brent,27.266388,31.098825,29.130142,30.044558,29.495074,37.797101,29.519698,31.404959,45.7,47.7,50.9,50.1,48.8,43.7,45.2,54.5
Bromley,38.258575,35.060781,36.875395,37.325729,35.254445,37.815126,41.543901,47.621915,48.8,50.3,50.0,51.1,53.4,50.6,52.4,58.2