In [55]:
import numpy as np
import pandas as pd
import scipy as sp

print("success!")

success!

In [56]:
residents_2001 = pd.read_excel("datasets/household_residents_2001.xlsx", index_col='Area')
residents_2011 = pd.read_excel("datasets/household_residents_2011.xlsx", index_col='Area')
residents_2021 = pd.read_excel("datasets/household_residents_2021.xlsx", index_col='Area')

weekly_median_earnings = pd.read_excel("datasets/weekly_median_earnings.xlsx", index_col='Area')

In [57]:
residents_2021.head()

,1 person in household,2 people in household,3 people in household,4 people in household,5 people in household,6 people in household,7 people in household,8 or more people in household
Area,,,,,,,,
Barking and Dagenham,17503,16630,13943,13273,7147,3134,1296,976
Barnet,41658,42347,26841,22637,9113,3563,1542,1216
Bexley,24753,28297,17616,16104,5852,1814,576,287
Brent,31985,30225,20783,17500,8810,4512,2151,2649
Bromley,38668,43242,24235,21393,6040,1591,439,219

In [58]:
residents_2021.loc['Barking and Dagenham'][0]

17503

In [59]:
area = "Barking and Dagenham"

nan_area_df = pd.DataFrame({"1": [residents_2001.loc[area][0], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][0], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][0]],
                           "2": [residents_2001.loc[area][1], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][1], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][1]],
                           "3": [residents_2001.loc[area][2], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][2], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][2]],
                           "4": [residents_2001.loc[area][3], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][3], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][3]],
                           "5": [residents_2001.loc[area][4], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][4], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][4]],
                           "6": [residents_2001.loc[area][5], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][5], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][5]],
                           "7": [residents_2001.loc[area][6], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][6], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][6]],
                           "8": [residents_2001.loc[area][7], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][7], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][7]]},
                           index=list(range(2001,2022)))

nan_area_df

            1        2        3        4       5       6       7      8
2001  20713.0  20487.0  10959.0   9528.0  3996.0  1237.0   230.0  123.0
2002      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2003      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2004      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2005      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2006      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2007      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2008      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2009      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2010      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2011  19215.0  18641.0  12616.0  10516.0  5414.0  2329.0   507.0  443.0
2012      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2013      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2014      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2015      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2016      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2017      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2018      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2019      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2020      NaN      NaN      NaN      NaN     NaN     NaN     NaN    NaN
2021  17503.0  16630.0  13943.0  13273.0  7147.0  3134.0  1296.0  976.0

In [60]:
area_df = nan_area_df.interpolate(method='quadratic', limit_direction ='forward')
area_df

,1,2,3,4,5,6,7,8
2001,20713.00,20487.000,10959.00,9528.000,3996.000,1237.000,230.00,123.000
2002,20572.83,20309.825,11139.55,9547.195,4123.625,1359.115,234.66,145.415
2003,20430.52,20131.000,11316.80,9584.080,4254.400,1478.360,244.44,169.960
2004,20286.07,19950.525,11490.75,9638.655,4388.325,1594.735,259.34,196.635
2005,20139.48,19768.400,11661.40,9710.920,4525.400,1708.240,279.36,225.440
2006,19990.75,19584.625,11828.75,9800.875,4665.625,1818.875,304.50,256.375
2007,19839.88,19399.200,11992.80,9908.520,4809.000,1926.640,334.76,289.440
2008,19686.87,19212.125,12153.55,10033.855,4955.525,2031.535,370.14,324.635
2009,19531.72,19023.400,12311.00,10176.880,5105.200,2133.560,410.64,361.960
2010,19374.43,18833.025,12465.15,10337.595,5258.025,2232.715,456.26,401.415
2011,19215.00,18641.000,12616.00,10516.000,5414.000,2329.000,507.00,443.000
2012,19053.43,18447.325,12763.55,10712.095,5573.125,2422.415,562.86,486.715
2013,18889.72,18252.000,12907.80,10925.880,5735.400,2512.960,623.84,532.560
2014,18723.87,18055.025,13048.75,11157.355,5900.825,2600.635,689.94,580.535
2015,18555.88,17856.400,13186.40,11406.520,6069.400,2685.440,761.16,630.640
2016,18385.75,17656.125,13320.75,11673.375,6241.125,2767.375,837.50,682.875
2017,18213.48,17454.200,13451.80,11957.920,6416.000,2846.440,918.96,737.240
2018,18039.07,17250.625,13579.55,12260.155,6594.025,2922.635,1005.54,793.735
2019,17862.52,17045.400,13704.00,12580.080,6775.200,2995.960,1097.24,852.360
2020,17683.83,16838.525,13825.15,12917.695,6959.525,3066.415,1194.06,913.115
2021,17503.00,16630.000,13943.00,13273.000,7147.000,3134.000,1296.00,976.000

In [61]:
total_residents_df = area_df.copy()

for i in range(0,8):
    total_residents_df.iloc[:,i] = total_residents_df.iloc[:,i].apply(lambda x: x * (i+1))

total_residents_df

,1,2,3,4,5,6,7,8
2001,20713.00,40974.00,32877.00,38112.00,19980.000,7422.00,1610.00,984.00
2002,20572.83,40619.65,33418.65,38188.78,20618.125,8154.69,1642.62,1163.32
2003,20430.52,40262.00,33950.40,38336.32,21272.000,8870.16,1711.08,1359.68
2004,20286.07,39901.05,34472.25,38554.62,21941.625,9568.41,1815.38,1573.08
2005,20139.48,39536.80,34984.20,38843.68,22627.000,10249.44,1955.52,1803.52
2006,19990.75,39169.25,35486.25,39203.50,23328.125,10913.25,2131.50,2051.00
2007,19839.88,38798.40,35978.40,39634.08,24045.000,11559.84,2343.32,2315.52
2008,19686.87,38424.25,36460.65,40135.42,24777.625,12189.21,2590.98,2597.08
2009,19531.72,38046.80,36933.00,40707.52,25526.000,12801.36,2874.48,2895.68
2010,19374.43,37666.05,37395.45,41350.38,26290.125,13396.29,3193.82,3211.32
2011,19215.00,37282.00,37848.00,42064.00,27070.000,13974.00,3549.00,3544.00
2012,19053.43,36894.65,38290.65,42848.38,27865.625,14534.49,3940.02,3893.72
2013,18889.72,36504.00,38723.40,43703.52,28677.000,15077.76,4366.88,4260.48
2014,18723.87,36110.05,39146.25,44629.42,29504.125,15603.81,4829.58,4644.28
2015,18555.88,35712.80,39559.20,45626.08,30347.000,16112.64,5328.12,5045.12
2016,18385.75,35312.25,39962.25,46693.50,31205.625,16604.25,5862.50,5463.00
2017,18213.48,34908.40,40355.40,47831.68,32080.000,17078.64,6432.72,5897.92
2018,18039.07,34501.25,40738.65,49040.62,32970.125,17535.81,7038.78,6349.88
2019,17862.52,34090.80,41112.00,50320.32,33876.000,17975.76,7680.68,6818.88
2020,17683.83,33677.05,41475.45,51670.78,34797.625,18398.49,8358.42,7304.92
2021,17503.00,33260.00,41829.00,53092.00,35735.000,18804.00,9072.00,7808.00

In [62]:
total_residents = total_residents_df.sum(axis=1)
total_households = area_df.sum(axis=1)

In [63]:
avg_residents = total_residents.divide(total_households)
avg_residents

2001    2.418087
2002    2.437687
2003    2.458116
2004    2.479351
2005    2.501368
2006    2.524142
2007    2.547647
2008    2.571857
2009    2.596745
2010    2.622282
2011    2.648441
2012    2.675192
2013    2.702505
2014    2.730353
2015    2.758704
2016    2.787528
2017    2.816797
2018    2.846480
2019    2.876547
2020    2.906968
2021    2.937715
dtype: float64

In [64]:
avg_residents_df = pd.DataFrame()
avg_residents_df

Empty DataFrame
Columns: []
Index: []

In [65]:
avg_residents_df[area] = avg_residents
avg_residents_df

      Barking and Dagenham
2001              2.418087
2002              2.437687
2003              2.458116
2004              2.479351
2005              2.501368
2006              2.524142
2007              2.547647
2008              2.571857
2009              2.596745
2010              2.622282
2011              2.648441
2012              2.675192
2013              2.702505
2014              2.730353
2015              2.758704
2016              2.787528
2017              2.816797
2018              2.846480
2019              2.876547
2020              2.906968
2021              2.937715

In [104]:
def get_avg_residents(residents_2001, residents_2011, residents_2021):

    areas = list(residents_2001.index.values)
    avg_residents_df = pd.DataFrame()

    for area in areas:

        # Initialise DataFrame with census data and missing years in between
        nan_area_df = pd.DataFrame({"1": [residents_2001.loc[area][0], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][0], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][0]],
                           "2": [residents_2001.loc[area][1], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][1], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][1]],
                           "3": [residents_2001.loc[area][2], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][2], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][2]],
                           "4": [residents_2001.loc[area][3], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][3], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][3]],
                           "5": [residents_2001.loc[area][4], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][4], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][4]],
                           "6": [residents_2001.loc[area][5], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][5], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][5]],
                           "7": [residents_2001.loc[area][6], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][6], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][6]],
                           "8": [residents_2001.loc[area][7], None, None, None, None, None, None, None, None, None, residents_2011.loc[area][7], None, None, None, None, None, None, None, None, None, residents_2021.loc[area][7]]},
                           index=list(range(2001,2022)))
        
        # Interpolate missing values
        area_df = nan_area_df.interpolate(method='quadratic', limit_direction ='forward')

        # Create a DataFrame which has the total number of residents
        total_residents_df = area_df.copy()

        for i in range(0,8):
            total_residents_df.iloc[:,i] = total_residents_df.iloc[:,i].apply(lambda x: x * (i+1))

        # Get average number of residents per house by year
        total_residents = total_residents_df.sum(axis=1)
        total_households = area_df.sum(axis=1)
        avg_residents = total_residents.divide(total_households)

        # Append column to DataFrame
        avg_residents_df[area] = avg_residents

        # Transpose DataFrame to get years as columns and area as rows
        
    return avg_residents_df.transpose()

In [116]:
average_residents = get_avg_residents(residents_2001, residents_2011, residents_2021)

In [117]:
average_residents

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Barking and Dagenham,2.418087,2.437687,2.458116,2.479351,2.501368,2.524142,2.547647,2.571857,2.596745,2.622282,...,2.675192,2.702505,2.730353,2.758704,2.787528,2.816797,2.846480,2.876547,2.906968,2.937715
Barnet,2.440998,2.463510,2.484279,2.503313,2.520629,2.536242,2.550173,2.562443,2.573078,2.582103,...,2.595444,2.599822,2.602718,2.604166,2.604203,2.602868,2.600198,2.596233,2.591014,2.584581
Bexley,2.428357,2.433911,2.439639,2.445541,2.451616,2.457862,2.464279,2.470866,2.477623,2.484548,...,2.498903,2.506331,2.513925,2.521686,2.529613,2.537705,2.545963,2.554386,2.562974,2.571727
Brent,2.607495,2.634521,2.659329,2.682005,2.702627,2.721269,2.737999,2.752880,2.765973,2.777332,...,2.795050,2.801502,2.806405,2.809798,2.811717,2.812195,2.811262,2.808948,2.805278,2.800278
Bromley,2.325211,2.324819,2.324975,2.325675,2.326911,2.328677,2.330968,2.333776,2.337096,2.340922,...,2.350071,2.355381,2.361176,2.367448,2.374194,2.381407,2.389083,2.397217,2.405803,2.414837
Camden,2.056548,2.074424,2.090721,2.105545,2.118985,2.131118,2.142011,2.151722,2.160298,2.167779,...,2.179574,2.183932,2.187281,2.189624,2.190960,2.191281,2.190569,2.188803,2.185949,2.181970
City of London,1.582623,1.587205,1.592051,1.597148,1.602478,1.608026,1.613771,1.619694,1.625774,1.631987,...,1.644727,1.651208,1.657732,1.664278,1.670825,1.677352,1.683839,1.690269,1.696624,1.702890
Croydon,2.354492,2.370920,2.386503,2.401246,2.415151,2.428224,2.440468,2.451891,2.462497,2.472295,...,2.489493,2.496909,2.503548,2.509419,2.514532,2.518896,2.522523,2.525422,2.527605,2.529082
Ealing,2.523195,2.546890,2.568974,2.589445,2.608307,2.625567,2.641230,2.655310,2.667819,2.678773,...,2.696091,2.702497,2.707433,2.710925,2.713000,2.713688,2.713020,2.711026,2.707741,2.703198
Enfield,2.447028,2.462143,2.476788,2.491010,2.504854,2.518360,2.531567,2.544511,2.557224,2.569738,...,2.594287,2.606378,2.618383,2.630328,2.642237,2.654137,2.666051,2.678006,2.690026,2.702138
Greenwich,2.281243,2.308541,2.333915,2.357366,2.378902,2.398537,2.416288,2.432179,2.446238,2.458496,...,2.477756,2.484841,2.490287,2.494142,2.496457,2.497283,2.496672,2.494679,2.491358,2.486765
Hackney,2.327096,2.336843,2.345641,2.353582,2.360746,2.367200,2.373002,2.378203,2.382846,2.386967,...,2.393768,2.396497,2.398806,2.400711,2.402224,2.403357,2.404117,2.404510,2.404537,2.404201
Hammersmith and Fulham,2.162107,2.174829,2.186324,2.196644,2.205835,2.213939,2.220990,2.227022,2.232060,2.236129,...,2.241433,2.242698,2.243052,2.242501,2.241049,2.238697,2.235442,2.231278,2.226197,2.220189
Haringey,2.322469,2.345424,2.366313,2.385258,2.402368,2.417737,2.431451,2.443584,2.454201,2.463359,...,2.477495,2.482551,2.486310,2.488796,2.490029,2.490024,2.488791,2.486336,2.482658,2.477753
Harrow,2.589999,2.619169,2.646587,2.672283,2.696288,2.718631,2.739342,2.758450,2.775984,2.791971,...,2.819415,2.830926,2.840998,2.849657,2.856929,2.862837,2.867408,2.870664,2.872630,2.873329
Havering,2.425972,2.418368,2.412479,2.408269,2.405705,2.404757,2.405394,2.407592,2.411325,2.416570,...,2.431516,2.441179,2.452280,2.464806,2.478742,2.494076,2.510799,2.528902,2.548376,2.569215
Hillingdon,2.468973,2.493099,2.516229,2.538330,2.559372,2.579329,2.598178,2.615901,2.632484,2.647917,...,2.675310,2.687269,2.698076,2.707738,2.716268,2.723681,2.729995,2.735230,2.739410,2.742559
Hounslow,2.504334,2.520503,2.536209,2.551487,2.566367,2.580880,2.595051,2.608907,2.622470,2.635763,...,2.661618,2.674217,2.686620,2.698843,2.710901,2.722809,2.734580,2.746227,2.757763,2.769199
Islington,2.091224,2.096124,2.100908,2.105595,2.110204,2.114751,2.119249,2.123715,2.128161,2.132598,...,2.141500,2.145986,2.150511,2.155086,2.159723,2.164432,2.169226,2.174116,2.179115,2.184236
Kensington and Chelsea,1.963005,1.961685,1.961118,1.961293,1.962204,1.963852,1.966243,1.969392,1.973318,1.978047,...,1.990057,1.997430,2.005793,2.015217,2.025788,2.037606,2.050789,2.065478,2.081839,2.100069
Kingston upon Thames,2.342738,2.356889,2.370372,2.383198,2.395373,2.406906,2.417807,2.428081,2.437737,2.446782,...,2.463069,2.470323,2.476994,2.483088,2.488610,2.493566,2.497963,2.501805,2.505098,2.507847
Lambeth,2.219423,2.232162,2.243868,2.254595,2.264394,2.273307,2.281375,2.288634,2.295115,2.300846,...,2.310156,2.313776,2.316729,2.319029,2.320689,2.321717,2.322123,2.321911,2.321085,2.319647
Lewisham,2.294111,2.299138,2.304332,2.309694,2.315222,2.320915,2.326773,2.332797,2.338986,2.345341,...,2.358550,2.365406,2.372430,2.379625,2.386992,2.394532,2.402247,2.410139,2.418211,2.426463
Merton,2.367819,2.384100,2.400064,2.415690,2.430958,2.445850,2.460347,2.474432,2.488090,2.501304,...,2.526350,2.538157,2.549472,2.560286,2.570591,2.580380,2.589649,2.598394,2.606611,2.614298
Newham,2.626861,2.683201,2.735008,2.782329,2.825221,2.863753,2.898002,2.928051,2.953994,2.975929,...,3.008201,3.018762,3.025762,3.029323,3.029568,3.026621,3.020609,3.011658,2.999895,2.985447
Redbridge,2.554438,2.581614,2.607845,2.633171,2.657631,2.681262,2.704097,2.726168,2.747506,2.768139,...,2.807395,2.826066,2.844130,2.861609,2.878521,2.894886,2.910721,2.926044,2.940869,2.955213
Richmond upon Thames,2.227274,2.234780,2.242336,2.249952,2.257633,2.265386,2.273220,2.281142,2.289158,2.297277,...,2.313851,2.322323,2.330928,2.339674,2.348571,2.357627,2.366851,2.376252,2.385840,2.395626
Southwark,2.261809,2.276862,2.290190,2.301884,2.312025,2.320687,2.327938,2.333836,2.338438,2.341791,...,2.344926,2.344784,2.343547,2.341242,2.337897,2.333533,2.328172,2.321829,2.314520,2.306258
Sutton,2.329258,2.335710,2.342603,2.349928,2.357677,2.365841,2.374408,2.383369,2.392711,2.402422,...,2.422902,2.433643,2.444700,2.456059,2.467706,2.479624,2.491800,2.504218,2.516863,2.529720
Tower Hamlets,2.449701,2.448772,2.448393,2.448516,2.449100,2.450112,2.451521,2.453299,2.455423,2.457873,...,2.463678,2.467003,2.470593,2.474435,2.478520,2.482840,2.487386,2.492152,2.497131,2.502319
Waltham Forest,2.407838,2.441733,2.473104,2.502023,2.528559,2.552776,2.574733,2.594488,2.612097,2.627609,...,2.652536,2.662041,2.669628,2.675338,2.679205,2.681265,2.681551,2.680094,2.676922,2.672063
Wandsworth,2.211901,2.225212,2.237576,2.249060,2.259722,2.269614,2.278783,2.287271,2.295115,2.302350,...,2.315107,2.320681,2.325747,2.330325,2.334432,2.338082,2.341289,2.344063,2.346415,2.348351
Westminster,1.918199,1.930485,1.941837,1.952411,1.962337,1.971725,1.980669,1.989253,1.997550,2.005628,...,2.021369,2.029149,2.036943,2.044809,2.052807,2.061000,2.069458,2.078259,2.087490,2.097253
London,2.344021,2.359522,2.374219,2.388146,2.401337,2.413820,2.425626,2.436778,2.447301,2.457217,...,2.475311,2.483524,2.491204,2.498366,2.505024,2.511190,2.516876,2.522093,2.526850,2.531158

In [ ]:
median_household_earnings = weekly_median_earnings.copy().apply(lambda x: x * (i+1))

In [124]:
# Trim datasets so that they are of the same shape. Drop 'City of London' row as data is incomplete and isn't recommended for investment.
weekly_median_earnings = weekly_median_earnings.drop('City of London')
average_residents = average_residents.drop('City of London')
average_residents = average_residents.drop(2001, axis=1)

In [127]:
# Create new DataFrame by multiplying weekly_median_earnings with average_residents_df
median_household_earnings = weekly_median_earnings.copy().multiply(average_residents).multiply(52)

median_household_earnings

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Area,,,,,,,,,,,,,,,,,,,,
Barking and Dagenham,48587.011406,45364.044291,46426.344358,48789.680389,54812.244205,59177.766649,60168.086416,60601.794740,58538.780036,62262.723313,62599.482188,62001.959089,59985.847726,62631.400479,66996.573751,67524.261185,70914.921351,70452.382057,73570.713083,79970.472599
Barnet,54751.026113,58145.037591,59007.10207,57973.457436,61471.409937,61000.135445,66916.664918,70659.796482,67349.505033,67099.330819,67899.918791,69961.215961,64842.031599,66489.568355,65759.262393,70733.453809,72553.842413,72416.214167,72593.991805,77265.522287
Bexley,51258.166151,54791.371123,55712.363342,57673.770445,56670.433624,60201.35544,62173.918822,62653.141756,66936.715802,65443.470986,66153.953154,64890.909014,67009.184008,64396.805246,64059.917965,67695.825634,67876.391341,73507.05199,75500.084798,78205.18575
Brent,50468.986256,49754.984839,55158.113697,55469.797972,56418.433951,60025.694205,62556.454468,63156.016367,61104.634943,60129.147185,64241.4324,64360.583921,64473.22648,66859.706877,68279.73119,68876.268468,70154.481905,76538.21213,77576.049339,80539.361683
Bromley,53203.937646,54307.706294,55775.270697,56240.512835,58063.24338,61368.785115,66260.565364,66306.221000,64174.984543,67281.446972,69240.601838,71173.027209,71028.883706,71870.044247,72136.552426,75290.565337,78601.786584,79567.452496,76712.386415,81998.188873
Camden,50785.213449,53391.17007,55609.128356,59611.275999,61193.771997,66006.512565,68767.321427,69771.577455,65718.37315,69191.602846,69362.771934,71488.83729,69733.131484,66961.331699,72060.688158,69997.397132,72264.252139,75347.340473,70816.019147,78765.629238
Croydon,49968.556545,50433.499208,51606.616574,52872.488323,55759.782244,57614.572638,61403.190492,63512.734916,66272.342766,62152.368118,63846.527248,62504.619501,64962.060345,64227.074852,66986.124154,70534.137181,72222.856702,73763.534317,74274.167196,80656.476605
Ealing,57147.119605,59913.600929,59812.0377,59379.685216,61711.315197,63906.154343,69604.174827,69210.695485,68881.968543,68019.810925,69397.370311,70560.026271,70167.992279,69877.878237,70298.174356,72983.019836,73966.687742,75026.030178,79806.877769,80811.555008
Enfield,46488.220751,48567.828752,49999.549667,53155.998798,53639.053646,59067.53807,56220.452278,61195.382101,58715.418911,63884.851336,61434.788853,61029.911489,63012.964569,64777.60801,63738.15967,66219.649672,64437.394509,68249.521412,68905.562484,71365.618067
Greenwich,48173.715737,52234.880588,54157.181377,50099.681259,56911.52529,57320.15757,60808.3775,65281.287074,62476.283999,62653.066495,60620.789512,66737.84844,65925.855979,69062.797795,70009.642707,71811.858234,73482.043193,75174.643555,74245.452573,80031.058231
Hackney,47038.789206,48203.862756,50312.993966,53044.064709,52782.869007,55663.986081,58444.822581,62412.458022,62222.510759,64318.584718,63656.985759,64676.657662,63990.543225,66725.349112,65930.486626,69748.312832,69432.832507,71882.337052,71883.16071,71898.098698
Hammersmith and Fulham,55731.288217,56651.14453,58483.444345,56284.972445,62823.609846,63081.457343,67722.841329,67910.877529,69406.761841,69177.537724,71482.899003,71220.01901,71137.938345,75411.71807,74803.529748,75796.005828,79277.700719,84467.259157,82550.074277,82488.886047
Haringey,46943.184884,52836.919416,54239.810393,54753.801097,57203.66056,58526.970283,63329.868646,62443.699994,63496.537479,60625.219471,63010.623277,59976.455579,60468.054611,64708.696176,62397.1432,68016.509589,71360.620742,70798.907099,73301.953926,69910.291539
Harrow,51496.012354,57402.356173,56625.677694,60415.178853,65015.514092,65624.775158,68721.823101,71352.778682,73476.856767,71172.415118,69155.743694,70497.989806,72728.421049,74846.819629,77667.318114,80894.616379,79756.366515,86862.845027,85219.444378,86286.083867
Havering,48428.311683,51860.587823,56265.844647,58032.352473,53132.617986,57011.695613,63398.638391,60901.384567,62039.154731,63673.840788,63333.20142,62163.155178,63644.524108,66327.920838,68649.24203,69281.446069,71129.940802,74759.397719,76183.19372,78102.093604
Hillingdon,51376.786331,54221.719489,56955.055718,57400.578691,58921.159689,63445.429483,65170.470671,65706.807677,68818.302001,68857.087106,70907.480883,72971.176751,69097.713698,70232.223118,70594.721564,70872.360563,75479.987851,77644.424149,79899.811144,83571.264261
Hounslow,50932.306349,52172.867518,53084.194029,55235.409512,58057.405536,61209.992994,59013.476719,63997.719091,65651.592567,65177.583326,66309.422884,66623.304498,64752.917922,69552.427831,70610.307952,73200.003014,75876.941643,78199.36753,73393.993618,81301.456834
Islington,50684.277638,51564.684759,54635.990638,58431.554625,55390.391729,57029.002752,62582.484133,65092.768573,66426.176454,66508.987409,67382.713073,67624.307692,68605.60484,67653.333562,68877.022293,72718.867652,77572.394221,79036.082099,78197.980278,75599.015752
Kensington and Chelsea,61357.593301,62482.019067,70534.37382,74791.358734,68512.495752,70538.585947,79335.786872,82623.615339,81412.45487,81889.082688,67781.334177,75479.683139,66888.373676,66270.007104,68640.173391,83111.490625,71513.478359,82025.099218,86821.014593,83759.143054
Kingston upon Thames,53398.613395,54419.010227,57092.835392,59663.94725,62554.536832,66307.861251,65238.648493,71772.829324,69265.473165,74024.021446,76988.63334,77613.608309,71679.260768,74192.675126,73335.348517,75192.992586,81794.296760,81698.948956,80412.653463,87086.509127
Lambeth,46928.089685,49647.827345,52370.645101,54199.621008,53857.373322,58212.488747,58849.939969,62346.340390,68783.332903,64352.648654,69049.631491,64561.744367,65897.028887,65468.042543,66576.842564,71785.642105,74515.063953,76645.347182,80963.15826,81250.745681
Lewisham,47212.330837,51476.943354,51056.249385,51985.062957,52064.621158,52801.004484,54150.75342,59220.323342,60088.57258,57870.854692,61273.238157,64637.075296,63965.470094,64035.722013,64618.743423,66640.789425,68854.173341,69180.642617,72291.926493,72538.64102
Merton,54089.50524,54838.575614,55585.017018,62433.803689,60336.173855,65414.71496,67680.669612,68532.941165,69131.053541,70189.600924,70729.72241,69555.650449,71973.625205,72971.211401,78237.469559,76885.013793,80002.556675,78218.925974,78384.950144,79703.686163
Newham,47187.85088,48838.491325,53676.685572,56296.489607,58210.943574,58892.033993,61360.243188,64761.005002,65365.693354,59549.89864,57846.505483,60843.753572,61944.618591,66412.45761,68796.633005,74175.210028,74750.396958,81043.713534,83363.488563,88085.013561
Redbridge,54033.191267,58840.286705,60219.571345,59797.769346,65000.225289,67508.321516,74693.741796,74078.264562,72849.669802,69518.32174,76890.043975,74050.843299,76550.33828,79327.226381,78104.632683,82312.021042,84124.493055,86058.451092,88941.294829,89421.197412
Richmond upon Thames,65646.205487,66206.329521,69683.702834,68641.962057,68677.450789,68347.549399,76212.94435,73528.671000,79881.821699,79724.366506,80710.830188,80970.100164,79294.425367,78837.661271,84120.178037,81637.073926,83396.458359,89102.79549,87204.374319,87138.501778
Southwark,47074.576575,50470.288175,49387.372042,51744.963219,55498.770369,59049.535114,59854.499862,64046.067058,63468.155218,64659.941971,65430.945978,63939.451973,64466.281581,67811.744911,66012.862645,71240.910673,71355.663673,75821.635494,74728.435712,75780.85554
Sutton,49906.652335,51369.531016,52116.706015,53575.85983,56590.912601,58734.313598,62624.445747,62608.627940,61875.822997,62461.298324,65200.281318,65552.607735,64617.343035,63640.431082,68382.099209,66430.125222,71097.037699,71490.422043,71105.417524,74428.420056
Tower Hamlets,54398.011648,57343.321385,61318.667748,61014.929661,60199.259306,67806.119005,69921.956887,71016.725702,69924.514768,69388.778431,72613.463082,73776.224027,73857.868886,71399.32216,71903.854886,76431.744259,81176.343074,89275.858976,86350.79774,88521.027229
Waltham Forest,51270.528362,55131.420634,56361.58054,54632.051628,56774.7484,59632.870553,62964.081734,64681.780696,64997.580349,63778.75068,65186.607905,61156.662801,61747.437191,66261.690106,67346.639754,69629.244048,73861.724669,80120.873491,83074.532173,86800.377598
Wandsworth,58098.50153,58467.86724,61609.849422,63323.728199,65760.693205,67827.511091,73598.883228,75402.801079,76981.376977,78236.480951,76119.802287,77727.027287,79952.673677,81200.648249,83116.050929,82820.486696,84699.408977,87871.434685,92144.645925,91182.715093
Westminster,48184.904335,50962.355354,55737.441868,58571.84353,61323.01321,64423.24955,69388.332217,69823.173907,74955.129918,70235.776228,73682.953606,65947.33395,69865.508612,69752.521115,71252.923451,78321.303902,81472.925361,76070.102561,76104.036172,84148.483291
London,51495.15561,53815.942235,55721.179722,57190.232616,58742.734684,61388.701452,63850.398839,65856.867286,66609.264491,66374.79448,67370.033255,67309.46286,67452.843686,68582.152499,69898.181852,72877.743101,75241.503500,77495.844279,77352.957664,80722.665364

In [128]:
median_household_earnings2 = weekly_median_earnings.copy().multiply(52)

median_household_earnings2

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Area,,,,,,,,,,,,,,,,,,,,
Barking and Dagenham,19931.6,18454.8,18725.2,19505.2,21715.2,23228.4,23394.8,23337.6,22323.6,23509.2,23400,22942.4,21970.0,22703.2,24034.4,23972,24913.2,24492,25308.4,27222.0
Barnet,22224.8,23405.2,23571.6,22999.6,24237.2,23920,26114.4,27461.2,26083.2,25911.6,26161.2,26910.0,24913.2,25532,25251.2,27175.2,27903.2,27892.8,28017.6,29894.8
Bexley,21060,22458.8,22781.2,23524.8,23056.8,24429.6,25162.8,25287.6,26941.2,26265.2,26473.2,25890.8,26655.2,25537.2,25324,26676,26660.4,28776.8,29458.0,30409.6
Brent,19156.8,18709.6,20566.0,20524.4,20732.4,21923.2,22724,22833.2,22001.2,21574.8,22984,22973.6,22973.6,23795.2,24284,24492,24954.8,27248,27653.6,28761.2
Bromley,22885.2,23358.4,23982.4,24169.6,24934.0,26327.6,28392,28371.2,27414.4,28688.4,29463.2,30217.2,30082.0,30357.6,30383.6,31616,32900.4,33191.6,31886.4,33956
Camden,24481.6,25537.2,26410.8,28132,28714.4,30815.2,31959.2,32297.2,30316,31824,31824,32734.0,31881.2,30581.2,32890.0,31943.6,32988.8,34424,32396,36098.4
Croydon,21075.6,21132.8,21491.6,21892,22963.2,23608,25043.2,25792.0,26806.0,25048.4,25646.4,25032.8,25948,25594.4,26639.6,28002.0,28631.2,29208.4,29385.2,31891.6
Ealing,22438.0,23322.0,23098.4,22765.6,23504,24195.6,26213.2,25942.8,25714.0,25303.2,25740,26109.2,25916.8,25776.4,25911.6,26894.4,27263.6,27674.4,29473.6,29894.8
Enfield,18881.2,19609.2,20072,21221.2,21299.2,23332.4,22094.8,23930.4,22848.8,24741.6,23680.8,23415.6,24065.6,24627.2,24122.8,24949.6,24169.6,25485.2,25615.2,26410.8
Greenwich,20867.6,22380.8,22973.6,21060,23727.6,23722.4,25001.6,26686.4,25412.4,25376,24466.0,26858.0,26473.2,27690.0,28043.6,28756,29432.0,30134.0,29801.2,32182.8
Hackney,20129.2,20550.4,21377.2,22469.2,22297.6,23457.2,24575.2,26192.4,26067.6,26904.8,26592.8,26988,26676,27794.0,27445.6,29021.2,28880.8,29894.8,29894.8,29905.2
Hammersmith and Fulham,25625.6,25911.6,26624,25516.4,28376.4,28402.4,30409.6,30425.2,31038.8,30893.2,31891.6,31756.4,31714.8,33628.4,33378.8,33857.2,35464.0,37856,37081.2,37154.0
Haringey,20014.8,22328.8,22739.6,22791.6,23660,24070.8,25916.8,25443.6,25776.4,24533.6,25433.2,24159.2,24320.4,26000,25058.8,27315.6,28672.8,28475.2,29525.6,28215.2
Harrow,19661.2,21689.2,21190.0,22406.8,23914.8,23956.4,24913.2,25703.6,26317.2,25360.4,24528.4,24902.8,25599.6,26265.2,27185.6,28256.8,27814.8,30258.8,29666.0,30030.0
Havering,20025.2,21496.8,23363.6,24122.8,22094.8,23701.6,26332.8,25256.4,25672.4,26275.6,26046.8,25464.4,25953.2,26910.0,27695.2,27778.4,28329.6,29562.0,29894.8,30399.2
Hillingdon,20607.6,21548.8,22438.0,22427.6,22843.6,24419.2,24913.2,24960.0,25989.6,25864.8,26504.4,27154.4,25610.0,25937.6,25989.6,26020.8,27648.4,28386.8,29166.8,30472
Hounslow,20207.2,20571.2,20805.2,21522.8,22495.2,23587.2,22620,24403.6,24908,24606.4,24913.2,24913.2,24102.0,25771.2,26046.8,26884,27747.2,28475.2,26613.6,29359.2
Islington,24180,24544,25948,27690.0,26192.4,26910.0,29468.4,30586.4,31148,31122.0,31465.2,31512,31902.0,31392.4,31891.6,33597.2,35760.4,36353.2,35885.2,34611.2
Kensington and Chelsea,31278.0,31860.4,35963.2,38116,34886.8,35874.8,40284.4,41870.4,41158.0,41282.8,34060,37788.4,33347.6,32884.8,33883.2,40788.8,34871.2,39712.4,41704,39884
Kingston upon Thames,22656.4,22958.0,23956.4,24908,25989.6,27424.8,26868.4,29442.4,28308.8,30149.6,31257.2,31418.4,28938.0,29879.2,29468.4,30154.8,32744.4,32656,32099.6,34725.6
Lambeth,21023.6,22126.0,23228.4,23935.6,23691.2,25516.4,25714.0,27164.8,29894.8,27908.4,29889.6,27903.2,28444,28230.8,28688.4,30919.2,32089.2,33009.6,34881.6,35027.2
Lewisham,20534.8,22339.2,22105.2,22453.6,22432.8,22692.8,23212.8,25318.8,25620.4,24606.4,25979.2,27326.0,26962.0,26910.0,27071.2,27830.4,28662.4,28704,29894.8,29894.8
Merton,22687.6,22848.8,23010.0,25682.8,24668.8,26587.6,27352,27544.4,27638.0,27918.8,27996.8,27404,28230.8,28501.2,30435.6,29796,30893.2,30102.8,30071.6,30487.6
Newham,17586.4,17856.8,19292,19926.4,20326.8,20321.6,20956,21923.2,21964.8,19890.0,19229.6,20155.2,20472.4,21923.2,22708.4,24507.6,24746.8,26910.0,27788.8,29504.8
Redbridge,20930.0,22562.8,22869.6,22500.4,24242.4,24965.2,27398.8,26962.0,26317.2,24934.0,27388.4,26202.8,26915.2,27721.2,27133.6,28433.6,28901.6,29411.2,30243.2,30258.8
Richmond upon Thames,29374.8,29525.6,30971.2,30404.4,30316,30066.4,33410.0,32120.4,34772.4,34580,34881.6,34866.0,34018.4,33696,35817.6,34626.8,35235.2,37497.2,36550.8,36374.0
Southwark,20675.2,22037.6,21455.2,22380.8,23914.8,25365.6,25646.4,27388.4,27102.4,27586.0,27903.2,27268.8,27508,28964,28236,30529.2,30648.8,32656,32286.8,32858.8
Sutton,21366.8,21928.4,22178.0,22724,23920,24736.4,26275.6,26166.4,25755.6,25890.8,26910.0,26936,26431.6,25911.6,27710.8,26790.4,28532.4,28548,28251.6,29421.6
Tower Hamlets,22214.4,23420.8,25043.2,24913.2,24570.0,27658.8,28501.2,28922.4,28449.2,28199.6,29473.6,29905.2,29894.8,28854.8,29010.8,30784,32635.2,35822.8,34580,35375.6
Waltham Forest,20997.6,22292.4,22526.4,21606.0,22240.4,23160.8,24268.4,24762.4,24736.4,24148.8,24575.2,22973.6,23129.6,24767.6,25136.8,25968.8,27544.4,29894.8,31033.6,32484.4
Wandsworth,26109.2,26130.0,27393.6,28022.8,28974.4,29764.8,32177.6,32853.6,33436,33883.2,32879.6,33493.2,34377.2,34845.2,35604.4,35422.4,36176.4,37486.8,39270.4,38828.4
Westminster,24960,26244.4,28548,29848,31101.2,32526.0,34881.6,34954.4,37372.4,34881.6,36452,32500,34299.2,34112,34710.0,38001.6,39369.2,36602.8,36457.2,40123.2
London,21824.4,22666.8,23332.4,23816,24336,25308.4,26202.8,26910.0,27107.6,26910.0,27216.8,27102.4,27076.4,27450.8,27903.2,29021.2,29894.8,30726.8,30612.4,31891.6

In [130]:
median_household_earnings2.to_excel('datasets/yearly_median_earnings.xlsx')